# Database Configuration
POSTGRES_USER=jabb_user
POSTGRES_PASSWORD=jabb_password
POSTGRES_DB=jabb_bar_db
DATABASE_URL=postgresql://jabb_user:jabb_password@postgres:5432/jabb_bar_db?schema=public

# Backend Port
BACKEND_PORT=5000

# Frontend Port
FRONTEND_PORT=5173
